<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Fusion Learning  </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
     <link rel="stylesheet" href="css/bootstrap.min.css">      
     <link rel="stylesheet" href="css/main.css">     
     <style>
     	body{
     		min-height: 1200px;
     		height: 100%;
     		background-color: #41315f;
     	}
     </style> 
</head>
<body>