<h3>
    Staff
</h3>
<br/>
<butto class="btn btn-primary" ng-click="vm.openModal()">
    Add to staff
</butto>
<br/>
<table class="table" style="width:80%">
    <thead>
        <tr>
            <th>
                Login
            </th>
            <th>
                Role
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in vm.users" ng-show="{{user.role != 'admin'}}">
            <td>
                {{user.email}}
            </td>
            <td>
                {{user.role}}
            </td>
            <td style="text-align:right" >
                <button class="btn btn-sm btn-primary" ng-click="vm.openModal(user._id)">
                    Edit
                </button>
                <button class="btn btn-sm btn-danger" ng-click="vm.deleteUser(user._id)" >
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="myModal" role="dialog" tabindex="-1">
    <form method="user">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">
                            ×
                        </span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" ng-show="vm.edit">
                        Edit User
                    </h4>
                    <h4 class="modal-title" id="myModalLabel" ng-show="!vm.edit">
                        Add User
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <div class="form-group">
                            <label for="user.email">
                                Login
                            </label>
                            <input class="form-control" id="user.email" ng-model="vm.user.email" required="" type="text"/>
                        </div>
                        <div class="form-group">
                            <label for="user.password">
                                Password
                            </label>
                            <input class="form-control" id="user.password" ng-model="vm.user.password" required="" type="password"/>
                        </div>
                        <div class="form-group">
                            <label for="user.role">
                                Role
                            </label>
                            <select class="form-control" id="user.role" ng-model="vm.user.role">
                                <option selected="" value="verification">
                                    Verification
                                </option>
                                <option value="weight">
                                    Weight
                                </option>
                                <option value="fight_service">
                                    Fight service
                                </option>
                                <option value="results_preview">
                                    Result preview
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" type="button">
                        Close
                    </button>
                    <button class="btn btn-primary" ng-click="vm.editUser(vm.user._id)" ng-show="vm.edit" type="button">
                        Save changes
                    </button>
                    <button class="btn btn-primary" ng-click="vm.addUser()" ng-show="!vm.edit" type="button">
                        Save changes
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>